/* centered style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

header,
main {
    width: 90%;
    margin: 0 auto;
}

:root {
    --primary-color: #FF5400;
    --header-size: 2.5em;
    --text-size: 1.2em;
    --bg-color: rgba(255, 255, 255, 0.30);
    --responsive-header-size: 2em;
    --responsive-text-size: 1.1em;
}

::selection {
    background-color: var(--primary-color);
    color: white;
}

.button {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: white;
    padding: 11px 20px;
    font-size: var(--text-size);
    margin-left: 8px;
}

/* header style */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 30px 0;
}

.logo-container {
    display: flex;
    align-items: center;
}

.trip-name {
    margin-left: 5px;
    font-size: var(--header-size);
}

.trip-span {
    color: var(--primary-color);
}

.navbar-item a {
    text-decoration: none;
    margin-left: 20px;
    font-size: var(--text-size);
    color: black;
}

#hamburger-icon {
    display: none;
}

/* header style */
.header-container {
    position: relative;
    text-align: center;
    margin-bottom: 90px;
}

.header-image {
    width: 100%;
    filter: brightness(50%);
}

.header-content {
    position: absolute;
    top: 20%;
}

.header-name {
    font-size: var(--header-size);
    color: white;
}

.header-description {
    font-size: var(--text-size);
    width: 70%;
    color: white;
    margin: 24px auto 36px auto;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    padding: 10px;
    width: 80%;
    margin: 0 auto;
}

input,
select {
    padding: 10px;
    font-size: var(--text-size);
    margin-left: 8px;
    border: 1px solid white;
    background-color: ghostwhite;
}

/* our popular tour style */
.popular-tour-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 90px;
}

.popular-tour-content {
    grid-column: 1/span 6;
    padding-right: 10px;
}

.popular-tour-header {
    font-size: var(--header-size);
    margin-bottom: 10px;
}

.popular-tour-description {
    font-size: var(--text-size);
    margin: 20px 0;
}

.popular-tour-image {
    grid-column: 7/span 6;
}

.popular-tour-image img {
    width: 100%;
}

.popular-tour-list {
    font-size: var(--text-size);
}

/* destination style */
.destination-container {
    text-align: center;
    margin-bottom: 90px;
}

.destination-header {
    font-size: var(--header-size);
}

.destination-description {
    font-size: var(--text-size);
    width: 70%;
    margin: 20px auto 36px auto;
}

.destination-image-container img {
    width: 100%;
    height: 300px;
    filter: brightness(90%);
    object-fit: cover;
}

.destination-image-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}

.destination-one {
    grid-column: 1/span 6;
    position: relative;
}

.destination-second {
    grid-column: 7/span 6;
    position: relative;
}

.destination-third {
    grid-column: 1/span 4;
    position: relative;
}

.destination-forth {
    grid-column: 5/span 4;
    position: relative;
}

.destination-fifth {
    grid-column: 9/span 4;
    position: relative;
}

.destination-sixth {
    grid-column: 1/span 6;
    position: relative;
}

.destination-seventh {
    grid-column: 7/span 6;
    position: relative;
}

.destination-name {
    font-size: var(--header-size);
    position: absolute;
    top: 45%;
    left: 33%;
    color: white;
}

/* choosing style */
.choosing-container {
    margin-bottom: 90px;
}

.choosing-header {
    font-size: var(--header-size);
    text-align: center;
}

.choosing-description {
    font-size: var(--text-size);
    width: 70%;
    margin: 20px auto 36px auto;
    text-align: center;
}

.feature-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}

.feature-container img {
    width: 64px;
    height: 64px;
}

.feature-title {
    margin: 10px 0;
}

.feature-description {
    font-size: var(--text-size);
}

.feature-content-one {
    grid-column: 1/span 6;
    background-color: rgba(251, 181, 99, 0.05);
    border: 1px solid rgb(223, 223, 223);
    padding: 15px 25px;
}

.feature-content-two {
    background-color: rgba(251, 181, 99, 0.05);
    grid-column: 7/span 6;
    border: 1px solid rgb(223, 223, 223);
    padding: 15px 25px;
}

.feature-content-three {
    background-color: rgba(251, 181, 99, 0.05);
    grid-column: 4/span 6;
    border: 1px solid rgb(223, 223, 223);
    padding: 15px 25px;
}

/* article style */
.article-container {
    margin-bottom: 90px;
}

.article-header {
    font-size: var(--header-size);
    text-align: center;
}

.article-description {
    font-size: var(--text-size);
    width: 70%;
    margin: 24px auto 36px auto;
    text-align: center;
}

.cart-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.cart-item {
    border: 1px solid rgb(223, 223, 223);
}

.cart-item img {
    width: 100%;
}

.cart-content {
    padding: 25px;
}

.cart-header {
    margin-top: 5px;
}

.cart-description {
    margin: 20px 0;
}

/* newsletter style */
.newsletter-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
    margin-bottom: 90px;
}

.newsletter-content {
    grid-column: 1/span 5;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
}

.newsletter-section {
    padding: 25px;
}

.newsletter-header {
    font-size: var(--header-size);
    margin-top: 25px;
}

.newsletter-description {
    font-size: var(--text-size);
    margin: 15px 0;
}

.newsletter-input {
    background-color: ghostwhite;
    border: 1px solid gray;
    margin-left: 0;
    width: 100%;
    margin-bottom: 20px;
}

#newsletter-btn {
    width: 100%;
    margin-left: 0;
}

.newsletter-image {
    width: 100%;
    grid-column: 6/span 7;
    position: relative;
}

.newsletter-image img {
    width: 100%;
}

.newsletter-save {
    background-color: var(--primary-color);
    color: white;
    width: 40%;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 10%;
    right: 0;
    transform: rotate(-20deg);
}

.newsletter-save>p {
    font-size: var(--text-size);
}

.newsletter-save>h2 {
    font-weight: normal;
}

/* footer style */
.footer-container {
    background-color: rgba(19, 19, 24, 0.05);
    text-align: center;
}

.footer-main {
    padding: 110px 0;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-description {
    width: 60%;
    margin: 20px auto;
    font-size: var(--text-size);
}

.social-media-container img {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

hr {
    width: 60%;
    margin: 30px auto;
}

.footer-last {
    font-size: var(--text-size);
}



/* Use Media query for mobile devices */

@media screen and (max-width: 600px) {

    /* centered style */
    header,
    main {
        width: 90%;
        margin: 0 auto;
    }

    /* navbar item */
    .navbar-item a {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }

    .header-container {
        margin-bottom: 36px;
    }

    .header-content {
        position: absolute;
        top: 10%;
    }

    .header-name {
        font-size: var(--responsive-header-size);
    }

    .header-description {
        font-size: var(--responsive-text-size);
        width: 80%;
        margin: 20px auto;
        text-align: center;
    }

    .header-image {
        height: 520px;
        filter: brightness(50%);
        object-fit: cover;
        border-radius: 20px;
    }

    .input-container {
        width: 80%;
    }

    input,
    select {
        padding: 5px;
        font-size: var(--responsive-text-size);
        margin-bottom: 16px;
        width: 255px;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        background-color: var(--bg-color);
        padding: 30px;
    }

    #responsive-btn {
        width: 255px;
    }


    /* our popular tour style */
    .popular-tour-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 36px;
    }

    .popular-tour-content {
        margin-bottom: 24px;
    }

    .popular-tour-header {
        font-size: var(--responsive-header-size);
        margin-top: 0;
    }

    .popular-tour-description {
        font-size: var(--responsive-text-size);
        margin: 20px 0;
    }

    .popular-tour-image img {
        width: 100%;
    }

    .popular-tour-list {
        font-size: var(--responsive-text-size);
    }

    /* destination style */
    .destination-container {
        text-align: center;
        margin-bottom: 36px;
    }

    .destination-header {
        font-size: var(--responsive-header-size);
    }

    .destination-description {
        font-size: var(--responsive-text-size);
        width: 80%;
        margin: 20px auto 36px auto;
    }

    .destination-image-container img {
        width: 100%;
        height: 300px;
        filter: brightness(90%);
    }


    .destination-image-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 16px;
    }

    .destination-one {
        grid-column: 1/span 12;
        position: relative;
    }

    .destination-second {
        grid-column: 1/span 12;
        position: relative;
    }

    .destination-third {
        grid-column: 1/span 12;
        position: relative;
    }

    .destination-forth {
        grid-column: 1/span 12;
        position: relative;
    }

    .destination-fifth {
        grid-column: 1/span 12;
        position: relative;
    }

    .destination-sixth {
        grid-column: 1/span 12;
        position: relative;
    }

    .destination-seventh {
        grid-column: 1/span 12;
        position: relative;
    }

    .destination-name {
        font-size: var(--responsive-header-size);
        position: absolute;
        top: 45%;
        left: 40%;
        color: white;
    }

    /* choosing style */
    .choosing-container {
        margin-bottom: 36px;
    }

    .choosing-header {
        font-size: var(--responsive-header-size);
    }

    .choosing-description {
        font-size: var(--responsive-text-size);
        width: 80%;
    }

    .feature-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 16px;
    }

    .feature-description {
        font-size: var(--responsive-text-size);
    }

    .feature-content-one {
        grid-column: 1/span 12;
        padding: 20px 25px;
    }

    .feature-content-two {
        grid-column: 1/span 12;
        padding: 20px 25px;
    }

    .feature-content-three {
        grid-column: 1/span 12;
        padding: 20px 25px;
    }

    /* article style */
    .article-container {
        margin-bottom: 36px;
    }

    .article-header {
        font-size: var(--responsive-header-size);
    }

    .article-description {
        font-size: var(--responsive-text-size);
        width: 80%;
    }

    .cart-container {
        display: flex;
        flex-direction: column;
    }

    /* newsletter style */
    .newsletter-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 36px;
    }

    .newsletter-content {
        background-color: 1px solid var(--primary-color);
    }

    .newsletter-header {
        font-size: var(--responsive-header-size);
    }

    .newsletter-description {
        font-size: var(--responsive-text-size);
    }

    .newsletter-image {
        width: 100%;
        grid-column: 6/span 7;
        position: relative;
    }

    .newsletter-save>p {
        font-size: var(--responsive-text-size);
    }

    .newsletter-save>h2 {
        font-weight: normal;
        font-size: var(--responsive-text-size);
    }

    /* footer style */
    .footer-main {
        padding: 60px 0;
    }

    .footer-description {
        width: 80%;
        font-size: var(--responsive-text-size);
    }

    hr {
        width: 80%;
        margin: 15px auto;
    }

    .footer-last {
        font-size: var(--responsive-text-size);
    }
}